<div class="container-fluid">
    <div class="row">
        <h1 class="">ShowMobile</h1>
    </div>
    <div class="row">
        <div class="col-lg-5" style="margin-left: 5em;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">MobileName</th>
                    <th scope="col">MobilePrice</th>
                   <th scope="col" >Available?</th>
                   <th scope="col">Action</th>

                   <th scope="col"></th>
                   <!-- <th scope="col">AccessoryPrice</th> -->
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mi of mobileitem; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{mi.mobileName}}</td> 
                        <td>{{ mi.mobilePrice }}</td>
                        <td  >
                             <b>{{mi.accessoryItems.length > 0 ? "Yes":"No"}}</b>
                            
                            <!-- <button type='button' class='btn btn-primary btn-sm' (click)="changess(mi.accessoryItemsId)">View Accessories </button> -->

                             <!--<button type='button' class='btn btn-primary btn-sm' (click)="changes(mi.mobileItemsId)">View Accessories </button>-->
                            
                            
                            </td> 
                        <td> 
                            <div class="col-md-3">
                            <select class="form-control" (change)="changes($event.target.value, mi.mobileItemsId)">
                                <option value="Action" disabled selected>Action</option>
                                <option  value="view">View Accessory</option>>
                                <option value="add">Add</option>
                                <option value="edit">Edit</option>
                                <option value="del">Delete</option>
                            </select>
                        </div>
                           
                        </td>
                    
                        <!-- <td>{{mi.accessoryItems[0].accessoryName}}</td>
                        <td>{{mi.accessoryItems[0].accessoryPrice}}</td> -->
                        
                    </tr>
                </tbody>
          </table>

        
        </div>
    </div>
</div>